*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins';
    box-sizing: border-box;
}
.page{
    height: 100vh;
    width: 100%;
    background: linear-gradient( 109.6deg,  rgba(209,0,116,1) 11.2%, rgba(110,44,107,1) 91.1% );
    position: relative;
   
}
.container{
    height: 300px;
    width: 850px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    
    
}
.time{
    height: 100%;
    color: white;
    width: 100%;
    background-color: rgba(218, 12, 129,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
    

}
.container::before{
    content: '';
    height: 250px;
    width: 250px;
    background-color: #0C356A;
    border-radius: 10px;
    position: absolute;
    top: -50px;
    left: -50px;
    z-index: -1;
}
.container::after{
    content: '';
    height: 250px;
    width: 250px;
    background-color: #0174BE;
    border-radius: 10px;
    position: absolute;
    right: -30px;
    bottom: -60px;
    z-index: -1;
}
.time span{
    font-size: 80px;
    width: 100px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.time span::after{
    
    font-size: 18px;
    position: absolute;
    bottom: -15px;
    left: 75px;
    transform: translate(-50px);
}
#hrs::after{
    content: 'HOURS';
}
#min::after{
    content: 'MINS';
}

#sec::after{
    content: 'SEC';
}

